.metrica {
    display: grid;
    gap: 0 2rem;
    grid-auto-flow: column;
    grid-template-columns: minmax(280px, auto) minmax(280px, auto) minmax(280px, auto) minmax(280px, auto);
    padding-bottom: 6rem;
}