.depoimentos {
    align-items: center;
    background-color: var(--fundo-depoimentos);
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    padding: 4rem;
    text-align: center;
}